<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application</title>
</head>
<body>
    <!-- ko ifnot: pageready -->
    <!-- ko template: { name: 'loading' } -->
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: pageready -->
    <!-- ko template: { name: 'loaded' } -->
    <!-- /ko -->
    <!-- /ko -->
    <script type="text/html" id="loading">
        Loading..
    </script>
    <script type="text/html" id="loaded">
        <h2>Success!</h2>
        <ul>
            <li><a href="" data-bind="">Main</a></li>
        </ul>
        <!-- ko template: { name: 'main', data: $root['main'] } --><!-- /ko -->
    </script>
    <script type="text/html" id="main">
        <h3>Main!</h3>
        Url:<!-- ko text: $root.url --><!-- /ko -->
        <br />
        <!-- ko text: $root.router --><!-- /ko -->
    </script>
    @Scripts.Render("~/bundles/site")
    @Scripts.Render("~/bundles/api-model")
    @Scripts.Render("~/bundles/router-model")
    @Scripts.Render("~/bundles/page-model")
</body>
</html>
